<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Calendario Escolar</title>
    <meta name="description" content="Calendario Escolar">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../css/magnific-popup.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/themify-icons.css">
    <link rel="stylesheet" href="../../css/nice-select.css">
    <link rel="stylesheet" href="../../css/flaticon.css">
    <link rel="stylesheet" href="../../css/gijgo.css">
    <link rel="stylesheet" href="../../css/animate.css">
    <link rel="stylesheet" href="../../css/slicknav.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/calendar.css">
</head>

<body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="../../index.html">
                                    <img class="position-absolute ml-5 imglogo" src="../../img/logo.svg" alt="CIFP CARLOS III">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="menu_wrap d-none d-lg-block">
                                <div class="menu_wrap_inner d-flex align-items-center justify-content-end">
                                    <div class="main-menu">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="#">Centro <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="../../centro/ofertaeducativa.html">Oferta Educativa</a></li>
                                                        <li><a href="../../centro/directiva.html">Equipo Directivo</a></li>
                                                        <li><a href="../../centro/consejoescolar.html">Consejo Escolar</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Secretar&iacute;a <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="../../secretaria/becas.html">Becas y Ayudas</a></li>
                                                        <li><a href="#">Departamento de Calendario Escolar</a></li>
                                                        <li><a href="../../secretaria/comvocatorias.html">Pruebas y Convocatorias</a></li>
                                                        <li><a href="../../secretaria/impresos.html">Impresos</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Departamentos <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="../administracion/administracion.html">Administraci&oacute;n</a></li>
                                                        <li><a href="../comercio/comercio.html">Comercio</a></li>
                                                        <li><a href="../informatica/informatica.html">Inform&aacute;tica</a></li>
                                                        <li><a href="../relacionesempresa/relaciones.html">Relaciones con las Empresas</a></li>
                                                        <li><a href="#">DIOP</a></li>
                                                        <li><a href="../innovacion/innovacion.html">Innovaci&oacute;n</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Info. Familias <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="#">Calendario Ecolar</a></li>
                                                        <li><a href="libros.html">Libros de Texto</a></li>
                                                        <li><a href="examenes.html">Convocatoria Ex&aacute;menes</a></li>
                                                        <li><a href="notas.html">Notas</a></li>
                                                        <li><a href="autorizaciones.html">Autorizaciones</a></li>
                                                        <li><a href="criterios.html">Criterios de Titulaciones</a></li>
                                                    </ul>
                                                </li>        
                                                <li><a href="../../proyectos/proyectos.html">Proyectos</a></li>        
                                                <li><a href="../../contacto/contacto.html">Contacto</a></li>                                
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg_1" id="bradcam_consejo">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3><a href="#calendario_area">Calendario Escolar</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->
    <!-- jumbotron_start  -->
    <div class="jumbotron mb-0">
        <h1 class="display-4">Objetivo:</h1>
        <p class="lead">La Organizaci&oacute;n Escolar como articuladora de los medios materiales, humanos y funcionales en el seno de la instituci&oacute;n escolar.</p>
        <hr class="my-4">
        <p>Implicaci&oacute;n y compromiso de todo el equipo de profesorado.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" id="fr-action" href="#calendario_area" role="button">Continua</a>
        </p>
      </div>
      <!-- jumbotron_end  -->
    <!-- depertment_area_start  -->
    <div class="depertment_area" id="calendario_area">
        <div class="container bg-white pl-5 pr-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title">
                        <h3>Calendario Escolar</h3>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row mb-5">
                <div class="container theme-showcase">
                    <div id="holder" class="row"></div>
                  </div>
                  
                  <script type="text/tmpl" id="tmpl">
                    {{
                    var date = date || new Date(),
                        month = date.getMonth(), 
                        year = date.getFullYear(), 
                        first = new Date(year, month, 1), 
                        last = new Date(year, month + 1, 0),
                        startingDay = first.getDay(), 
                        thedate = new Date(year, month, 1 - startingDay),
                        dayclass = lastmonthcss,
                        today = new Date(),
                        i, j; 
                    if (mode === 'week') {
                      thedate = new Date(date);
                      thedate.setDate(date.getDate() - date.getDay());
                      first = new Date(thedate);
                      last = new Date(thedate);
                      last.setDate(last.getDate()+6);
                    } else if (mode === 'day') {
                      thedate = new Date(date);
                      first = new Date(thedate);
                      last = new Date(thedate);
                      last.setDate(thedate.getDate() + 1);
                    }
                    
                    }}
                    <table class="calendar-table mb-5">
                      <thead>
                        <tr>
                          <td colspan="7" class="text-center">
                            <table class="w-100">
                              <tr>
                                <td class="text-left">
                                  <span class="btn-group">
                                    <button class="js-cal-prev btn btn-outline-info">&#8592;</button>
                                    <button class="js-cal-next btn btn-outline-info">&#8594;</button>
                                  </span>
                                  <button class="js-cal-option btn btn-outline-info {{: first.toDateInt() <= today.toDateInt() && today.toDateInt() <= last.toDateInt() ? 'active':'' }}" data-date="{{: today.toISOString()}}" data-mode="month">{{: todayname }}</button>
                                </td>
                                <td>
                                  <span class="btn-group btn-group-lg pb-3">
                                    {{ if (mode !== 'day') { }}
                                    {{ if (mode === 'month') { }}<button class="js-cal-option btn btn-outline-info " data-mode="year">{{: months[month] }}</button>{{ } }}
                                    {{ if (mode ==='week') { }}
                                    <button class="btn btn-outline-info disabled">{{: shortMonths[first.getMonth()] }} {{: first.getDate() }} - {{: shortMonths[last.getMonth()] }} {{: last.getDate() }}</button>
                                    {{ } }}
                                    <button class="js-cal-years btn btn-outline-info ">{{: year}}</button>
                                    {{ } else { }}
                                    <button class="btn btn-outline-info  disabled">{{: date.toDateString() }}</button>
                                    {{ } }}
                                  </span>
                                </td>
                                <td class="text-right">
                                  <span class="btn-group">
                                    <button class="js-cal-option btn btn-outline-info {{: mode==='year'? 'active':'' }}" data-mode="year">A&ntilde;o</button>
                                    <button class="js-cal-option btn btn-outline-info {{: mode==='month'? 'active':'' }}" data-mode="month">Mes</button>
                                    <button class="js-cal-option btn btn-outline-info {{: mode==='week'? 'active':'' }}" data-mode="week">Semana</button>
                                    <button class="js-cal-option btn btn-outline-info {{: mode==='day'? 'active':'' }}" data-mode="day">D&iacute;a</button>
                                  </span>
                                </td>
                              </tr>
                            </table>
                  
                          </td>
                        </tr>
                      </thead>
                      {{ if (mode ==='year') {
                        month = 0;
                      }}
                      <tbody>
                        {{ for (j = 0; j < 3; j++) { }}
                        <tr>
                          {{ for (i = 0; i < 4; i++) { }}
                          <td class="calendar-month month-{{:month}} js-cal-option" data-date="{{: new Date(year, month, 1).toISOString() }}" data-mode="month">
                            {{: months[month] }}
                            {{ month++;}}
                          </td>
                          {{ } }}
                        </tr>
                        {{ } }}
                      </tbody>
                      {{ } }}
                      {{ if (mode ==='month' || mode ==='week') { }}
                      <thead class="border-top">
                        <tr class="c-weeks">
                          {{ for (i = 0; i < 7; i++) { }}
                          <th class="c-name">
                            {{: days[i] }}
                          </th>
                          {{ } }}
                        </tr>
                      </thead>
                      <tbody>
                        {{ for (j = 0; j < 6 && (j < 1 || mode === 'month'); j++) { }}
                        <tr>
                          {{ for (i = 0; i < 7; i++) { }}
                          {{ if (thedate > last) { dayclass = nextmonthcss; } else if (thedate >= first) { dayclass = thismonthcss; } }}
                          <td class="calendar-day {{: dayclass }} {{: thedate.toDateCssClass() }} {{: date.toDateCssClass() === thedate.toDateCssClass() ? 'selected':'' }} {{: daycss[i] }} js-cal-option" data-date="{{: thedate.toISOString() }}">
                            <div class="date">{{: thedate.getDate() }}</div>
                            {{ thedate.setDate(thedate.getDate() + 1);}}
                          </td>
                          {{ } }}
                        </tr>
                        {{ } }}
                      </tbody>
                      {{ } }}
                      {{ if (mode ==='day') { }}
                      <tbody>
                        <tr>
                          <td colspan="7">
                            <table class="table table-striped table-condensed table-tight-vert">
                              <thead>
                                <tr>
                                  <th>&nbsp;</th>
                                  <th class="text-center w-100">{{: days[date.getDay()] }}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th class="timetitle">All Day</th>
                                  <td class="{{: date.toDateCssClass() }}"> </td>
                                </tr>
                                <tr>
                                  <th class="timetitle">Before 6 AM</th>
                                  <td class="time-0-0"> </td>
                                </tr>
                                {{for (i = 6; i < 22; i++) { }}
                                <tr>
                                  <th class="timetitle">{{: i <= 12 ? i : i - 12 }} {{: i < 12 ? "AM" : "PM"}}</th>
                                  <td class="time-{{: i}}-0"> </td>
                                </tr>
                                <tr>
                                  <th class="timetitle">{{: i <= 12 ? i : i - 12 }}:30 {{: i < 12 ? "AM" : "PM"}}</th>
                                  <td class="time-{{: i}}-30"> </td>
                                </tr>
                                {{ } }}
                                <tr>
                                  <th class="timetitle">After 10 PM</th>
                                  <td class="time-22-0"> </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                      {{ } }}
                    </table>
                  </script>
            </div>
        </div>
    </div> 
    <!-- depertment_area_end  -->

    <!-- Emergency_contact start -->
    <div class="Emergency_contact">
        <div class="Emergency_contact_inner ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="single_emergency">
                            <div class="info">
                                <span>Localizaci&oacute;n:</span>
                                <h3>C/Carlos III Nº3, Cartagena 30201</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single_emergency align-items-center d-flex justify-content-end">
                            <div class="icon">
                                <i class="flaticon-call"></i>
                            </div>
                            <div class="info">
                                <span>Tel&eacute;fono de contacto:</span>
                                <h3> 968 321301</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Emergency_contact end -->

    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget mr-5">
                            <div class="footer_logo">
                                <a href="#">
                                    <img class="imgfoot" src="../../img/logo.svg" alt="">
                                </a>
                            </div>
                            <p class="address_text texto-footer">El objetivo &uacute;ltimo de toda la comunidad educativa del CIFP Carlos III es la educaci&oacute;n integral de los alumnos que nos eligen, sin perder la perspectiva que como centro de Formaci&oacute;n Profesional tenemos: conseguir la empleabilidad de nuestros alumnos.
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Our Departments
                            </h3>
                            <ul class="links">
                                <li><a href="#">Births</a></li>
                                <li><a href="#">Pulmonary</a></li>
                                <li><a href="#">Cardiology</a></li>
                                <li><a href="#">Neurology</a></li>
                                <li><a href="#">Traumatology</a></li>
                                <li><a href="#">Dental</a></li>
                                <li><a href="#">Nuclear</a></li>
                                <li><a href="#">magnetic</a></li>
                                <li><a href="#">Pregnancy</a></li>
                                <li><a href="#">For disabled</a></li>
                                <li><a href="#">X-ray</a></li>
                                <li><a href="#">Prostheses</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4  col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Horario de Actividad
                            </h3>
                            <ul class="meting_time">
                                <li class="d-flex justify-content-between "><span>Lunes - Viernes</span> <span>8.00 - 18.00</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="row">
                    <div class="bordered_1px "></div>
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- JS here -->
    <script src="../../js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../../js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../../js/calendar.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/isotope.pkgd.min.js"></script>
    <script src="../../js/ajax-form.js"></script>
    <script src="../../js/waypoints.min.js"></script>
    <script src="../../js/jquery.counterup.min.js"></script>
    <script src="../../js/imagesloaded.pkgd.min.js"></script>
    <script src="../../js/scrollIt.js"></script>
    <script src="../../js/jquery.scrollUp.min.js"></script>
    <script src="../../js/wow.min.js"></script>
    <script src="../../js/nice-select.min.js"></script>
    <script src="../../js/jquery.slicknav.min.js"></script>
    <script src="../../js/jquery.magnific-popup.min.js"></script>
    <script src="../../js/plugins.js"></script>
    <script src="../../js/gijgo.min.js"></script>
    <!--contact js-->
    <script src="../../js/contact.js"></script>
    <script src="../../js/jquery.ajaxchimp.min.js"></script>
    <script src="../../js/jquery.form.js"></script>
    <script src="../../js/jquery.validate.min.js"></script>
    <script src="../../js/mail-script.js"></script>

    <script src="../../js/main.js"></script>
    <script src="../../js/onload.js"></script>    
</body>

</html>